.modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.modal-wrap.active {
    visibility: visible;
    opacity: 1;
    transition: opacity ease 0.25s;
}
.modal-wrap .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    margin: 0 auto;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:600px;
    height:600px;
    overflow: hidden;
}
/* header */
.modal-wrap > .overlay form > header {
    position: relative;
    padding:30px 0 10px;
    display: flex;
    justify-content: space-between;
    width:100%;
}
.modal-wrap > .overlay form > header input {
    border:none;
    height:50px;
    flex:1;
}
.modal-wrap > .overlay form > header button {
    width: 32px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}
/* main */
.modal-wrap > .overlay form > main{
    height:420px;
    width:540px;
}
.modal-wrap > .overlay form > main textarea{
    width:100%;
    height:100%;
    border:1px solid #1F6DE2;
    padding:10px;
}
/* footer */
.modal-wrap > .overlay form > footer {
    width:100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    padding:20px 5px;
}
.modal-wrap > .overlay form > footer .checking{
    display: flex;
    align-items: center;
}
.modal-wrap > .overlay form > footer .checking .btn {
    width:24px;
    height:24px;
    cursor: pointer;
    border-radius: 8px;
}
.modal-wrap > .overlay form > footer .checking .btn_on {
    width:24px;
    height:24px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #1F6DE2;
}
.modal-wrap > .overlay form > footer .close {
    padding: 6px 12px;
    color: #fff;
    width:130px;
    height:40px;
    font-size:16px;
    cursor: pointer;
}
.modal-wrap-wrap.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}